.JobView {
  padding: 30px;
  margin: 0 auto;
}

article.job {
  margin: 30px auto;
  padding: 5px 20px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 3px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  text-align: left;
  color: black;
}
