.JobSearch {
  padding: 1rem;
  margin: 0 auto;
}

article.job {
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  border: 2px solid gray;
  border-radius: 1rem;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  text-align: left;
  color: black;
}

.JobList{
  background: #e4f7fd61;
  border: 2px solid #0786ada1;
  border-radius: 8px;
  width: 95%;
  margin: 0 auto;
}
ul{
  padding: 10;
  overflow: hidden;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 0;
  list-style:none
}
.JobList li{
  float: left;
  width: 350px;
  height: 200px;
  margin-right: 60px;
  margin-bottom: 20px;
}
