.JobSearch {
  padding: 30px;
  margin: 0 auto;
}

article.job {
  margin: 30px auto;
  padding: 5px 20px;
  height: 200px;
  border: 2px solid gray;
  border-radius: 3px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  text-align: left;
  color: black;
  
}

.JobList{
  background: #e4f7fd61;
  border: 2px solid #0786ada1;
  border-radius: 8px;
  width: 95%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px 50px
}
ul{
  overflow: hidden;
  margin-right: -20px;
  margin-bottom: -20px;
  margin-top: 0;
  list-style:none
}
.JobList li{
  float: left;
  width: 370px;
  margin-right: 60px;
  margin-bottom: 20px;
}
