html{
	background-color: #70bdd7;
}

.Home {
  padding: 2rem;
  height: 60rem;
  background-image: url("../../assets/home.jpg");
}

.Home-search {
  width: 20rem;
  max-width: 20rem;
  margin: 2rem auto 0;

  display: flex;
  flex-direction: column;
}

.Home-search input {
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 1.1rem;
}

.Home-search button {
  width: 15rem;
  margin: 1rem auto 0;
  font-size: 1.25rem;
}

.Home-buttons {
  width: 10rem;
  max-width: 10rem;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
}

.Home-buttons a:not(:first-child) {
  margin-top: 1rem;
}
