html {
  background-color: #70bdd7;
}

.Home {
  padding: 2rem;
  background-image: url("../../assets/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.Home-search {
  width: 20rem;
  max-width: 20rem;
  margin: 2rem auto 0;

  display: flex;
  flex-direction: column;
}

.Home-search input {
  padding: 1rem;
  border: 2px solid lightgray;
  border-radius: 10px;
  font-size: 1.1rem;
}

.Home-search button {
  width: 15rem;
  margin: 1rem auto 0;
  font-size: 1.25rem;
}

.Home-buttons {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
}

.Home-buttons-top {
  display: flex;
  max-width: 800px;
  margin: 0 auto 0.25rem;
  justify-content: space-between;
}

.Home-button {
  margin-bottom: 1rem;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
