.App {
  text-align: center;
}

.button {
  min-width: 10rem;
  max-width: 15rem;
  display: block;
  padding: 1rem;
  background-color: #ccff8b;
  border: 1px solid #ccff8b;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
